PidFile /dev/null
PasswordAuthentication no
PermitRootLogin no
AllowUsers gvm
X11Forwarding no
AllowTcpForwarding no
PermitTTY no
Match User gvm
    ForceCommand echo 'Only Unix socket forwarding is allowed'
    AllowTcpForwarding no
    PermitTTY no
    X11Forwarding no
