name: Doxygen Container Image Builds

on:
  push:
    branches: [ main ]
    tags: ["v*"]
    path:
      - doxygen/*
      - .github/workflows/container-doxygen.yml
  pull_request:
    branches: [ main ]
    path:
      - doxygen/*
      - .github/workflows/container-doxygen.yml
  workflow_dispatch:
  schedule:
    # rebuild image every sunday
    - cron: "0 0 * * 0"

jobs:
  doxygen-images:
    name: Build and upload doxygen container images
    runs-on: self-hosted-generic

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Login to Docker Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Greenbone Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.GREENBONE_REGISTRY }}
          username: ${{ secrets.GREENBONE_REGISTRY_USER }}
          password: ${{ secrets.GREENBONE_REGISTRY_TOKEN }}
      - name: Setup container meta information
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: greenbone/doxygen
          labels: |
            org.opencontainers.image.vendor=Greenbone
            org.opencontainers.image.base.name=debian:oldstable-slim
          flavor: latest=false # no latest container tag for git tags
          tags: |
            # create container tag for git tags
            type=ref,event=tag
            type=ref,event=pr
            # set latest for main branch pushes
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Container image
        uses: docker/build-push-action@v6
        with:
          context: doxygen
          push: ${{ github.event_name != 'pull_request' }}
          file: doxygen/doxygen.Dockerfile
          platforms: linux/amd64,linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}

      - name: Push image to Harbor
        if: github.event_name != 'pull_request'
        run: |
          docker buildx imagetools create \
            --tag ${{ vars.GREENBONE_REGISTRY }}/openvas-ai/doxygen:latest \
            greenbone/doxygen:latest
